# Prefer main domain valid SSL when possible.
RewriteEngine On
# If accessed via chicken subdomain over HTTP, send to main HTTPS path.
RewriteCond %{HTTP_HOST} ^chicken\.gonulkoprusu\.com$ [NC]
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://gonulkoprusu.com/chicken/$1 [R=302,L,QSA]
