APP_NAME="Gonul Koprüsü Admin"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://admin.gonulkoprusu.com

DEPLOY_GITHUB_REPO=https://github.com/mehmet49807/denme
DEPLOY_GITHUB_BRANCH=master
DEPLOY_GITHUB_ACTIONS_URL=https://github.com/mehmet49807/denme/actions/workflows/deploy.yml
DEPLOY_GITHUB_COMPARE_URL=https://github.com/mehmet49807/denme/compare/master...master
DEPLOY_GITHUB_SECRETS_URL=https://github.com/mehmet49807/denme/settings/secrets/actions
DEPLOY_GITHUB_REPO_SLUG=mehmet49807/denme
DEPLOY_GITHUB_WORKFLOW=deploy.yml
DEPLOY_WEB_URL=https://gonulkoprusu.com
DEPLOY_ADMIN_URL=https://admin.gonulkoprusu.com
SETUP_CACHE_KEY=gk-cpanel-setup-2026

OPENROUTER_API_KEY=
SEO_SYNC_KEY=
